/* the hero section of a website is the top part of the opening page - important.
Here we are gonna style it */

/* main image */


.hero {
    background-image: url('../assets/images/dna_image_free.jpg');
    justify-content: center;
    display: flex;
    background-size: cover; 
    height: 250px;
}

.hero-big-quote{
    position:absolute; /* allows us to put it where we want*/
    top: 10%;
    left: 80%;
    text-align:right;
    color: white
}